* @coretech/core-administrators
pinless.yaml @coretech/team-pinless-code-owners
brc.yaml @coretech/boss-dtc-infra
content-platform.yaml @coretech/boss-dtc-infra
carrier-routing.yaml @coretech/team-carrier-tools
carrier-idt-express.yaml @coretech/team-idt-express
boss-caf.yaml @coretech/boss-caf
boss-ail.yaml @coretech/boss-ail
boss-mr.yaml @coretech/boss-mr
boss-mtp.yaml @coretech/team_mtp
boss-mtr.yaml @coretech/boss-mtr
team-pi.yaml @coretech/team_pi
dtc-tmt.yaml @coretech/team_tmt

# New assets structure
admcsa-debitcore.yaml @coretech/admcsa-debitcore-administrators
bosswireless.yaml @coretech/bosswireless-administrators
wcs.yaml @coretech/wcs-administrators
idtpay.yaml @coretech/idtpay-administrators
core-services.yaml @coretech/core-services-administrators
core.yaml @coretech/core-administrators
infra.yaml @coretech/infra-administrators
mercury-dev.yaml @coretech/mercury-dev-administrators
mercury.yaml @coretech/mercury-dev-administrators
mtu-services.yaml @coretech/mtu-services-administrators
n2p-billing.yaml @coretech/n2p-billing-administrators
n2p-messaging.yaml @coretech/n2p-messaging-administrators
n2p-chat.yaml @coretech/n2p-chat-administrators
n2p-mobile-services.yaml @coretech/n2p-mobile-services-administrators
n2p-uc.yaml @coretech/n2p-uc-administrators
n2p-office.yaml @coretech/n2p-office-administrators
n2p-videoconference.yaml @coretech/n2p-videoconference-administrators
n2p-rcon.yaml @coretech/n2p-rcon
ncs-nonprod.yaml @coretech/ncs-nonprod-administrators
ncs.yaml @coretech/ncs-administrators
nvc.yaml @coretech/nvc-administrators
playground.yaml @coretech/playground-administrators
retail-billing.yaml @coretech/retail-billing-administrators
security-framework.yaml @coretech/security-framework-administrators
terra-tests.yaml @coretech/core-administrators
zoho-crm.yaml @coretech/zoho-crm-administrators
rcs.yaml @coretech/rcs-administrators
carfin.yaml @coretech/team-carrier-tools
didinv.yaml @coretech/didinv-administrators
admi.yaml @coretech/admi-administrators
admcsa.yaml @coretech/admcsa-administrators
csa.yaml @coretech/csa-administrators
csa-customercare.yaml @coretech/csa-customercare-administrators
dtc-marcom.yaml @coretech/dtc-marcom-administrators
devops.yaml @coretech/devops-administrators
eytan.yaml @efaverman
mymso2.yaml @coretech/team-nct
nct-mymso2-idt.yaml @coretech/team-nct
nct-mymso2.yaml @coretech/team-nct
nct-voss.yaml @coretech/team-nct
nct-cvoss-webportal.yaml @coretech/team-nct
nct-hpbx.yaml @coretech/team-nct
nuilib.yaml @coretech/n2p
didinv-prod.yaml @coretech/didinv-administrators
n2p-webhooks.yaml @coretech/n2p-unite
n2p-aiven-to-msk.yaml @coretech/n2p-unite
n2p-i2.yaml @coretech/n2p-i2
n2p-ui.yaml @coretech/n2p
n2p-internal-tools-v2.yaml @coretech/n2p-partner-portal
n2p-partner-portal-v2.yaml @coretech/n2p-partner-portal
n2p-auth-server-v2.yaml @coretech/n2p-partner-portal
n2p-ai.yaml @sgulics @nritholtz
svp-a2g-public.yaml @coretech/svp-administrators
svp-a2g-zoho.yaml @coretech/svp-administrators
svp-gf.yaml @coretech/svp-administrators
svp.yaml @coretech/svp-administrators
rtcctl.yaml @coretech/rtcctl
dakunevich.yaml @dakunevichIDT
brcm-noprod.yaml @coretech/idt-messaging-admins
brcm.yaml @coretech/idt-messaging-admins
express.yaml @coretech/team-idt-express
ent-core.yaml @coretech/idt-ent-devs
n2p-infrastructure.yaml @coretech/n2p
yfedasenka.yaml @yahorf-idt
n2p-diagnostics.yaml @coretech/n2p-administrators
qe.yaml @coretech/qe-administrators
qe-core.yaml @coretech/qe-administrators
qe-automation.yaml @coretech/qe-administrators
qe-agent.yaml @coretech/qe-administrators
car-route.yaml @coretech/team-carrier-tools
car-tools.yaml @coretech/team-carrier-tools
pkumar.yaml @pradeepkumaridt
rtcctl-pars.yaml @coretech/team-sppm-admins
sppm-carrier.yaml @coretech/team-sppm-admins
sppm-cps.yaml @coretech/team-sppm-admins
sppm-uta.yaml @coretech/team-sppm-admins
sppm.yaml @coretech/team-sppm-admins
sppm-bossrow.yaml @coretech/team-sppm-admins
sppm-n2p-legacy.yaml @coretech/team-sppm-admins
dtc-infra.yaml @coretech/dtc-infra-administrators
dtc-core.yaml @coretech/dtc-core-administrators
ve.yaml @coretech/ve-infra
dtc-calling.yaml @coretech/dtc-calling-administrators
dtc-dcs.yaml @coretech/team_dcs
tvavulau.yaml @tsimafei-vavulau-idt
mpatel.yaml @manpatel
zoho-creator.yaml @coretech/zoho-creator-administrators
